/**
 * Body
 */

@charset "UTF-8";

@import "variables";

.post-list-style {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  padding-bottom: 5.0em;
  color: inherit;
  float: left;
}

// Post List Element
.post-list-element-style {
  position: relative;
  width: auto;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black;

  // Post Title
  > h5 > a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: black;
    transform: translateY(-50%);
  }
  // Splits title and summary
  > hr {
    position: relative;
    height: 1px;
    margin: 0px;
    border: $post-split-border; 
  }
}

// Post
.post-title-style {
  margin: 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  font-size: 42px;
  font-weight: bold;
  color: black;
}
 
// Post date
.post-date-style {
  position: relative;
  width: fit-content;
  height: $post-date-height;
  padding-left: 0.25rem;
  float: right;
  transform: translateY(-0.6rem);
  border-left: $post-split-border;
  font-size: $post-date-font-size;
}

// Post summary
.post-summary-style {
  position: relative;
  width: 100%;
  height:auto;
  margin-top: 3em;
  padding: 0px;
  overflow: hidden;
  transform: translateY(-32px);
}

.post-style {
  > hr {
    position: relative;
    height: 1px;
    margin: 0px;
    border: $post-split-border;
  }

  > article {
    margin: 0px;
    padding: 0.5em;
    border: $post-split-border;

    background-color: inherit;

    color: inherit;
  }
}

// post-category-list-style