{% if 0 < site.posts.size %}
<div class="container">
    {% for post in site.posts %}
    <hr class="hr-rounded-edge-top">
    <article class="post-list-style">
        <h5>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h5>
        <!-- <p class="post-date-style">{{ post.date | date: "%F %r" }}</p> -->
        <p class="post-date-style">{{ post.date }}</p>
        <hr>
        <p class="post-summary-style">{{ post.summary }}</p>
    </article>
    <hr class="hr-rounded-edge-bottom">
    {% endfor %}
</div>
{% endif %}