<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />

  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" /> -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
  <!-- <link rel="stylesheet" href="{{ "/assets/rouge_gruvbox.css" | relative_url }}" /> -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{{ site.baseurl }}assets/favicon_appletouch.ico">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}" />

  <!-- RSS -->
  <!-- <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml"> -->

  <!-- Highlight Code -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/vs2015.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script> -->
</head>