/**
 * Code snippets
 */

code {
  margin: 0px;
  padding: 2.5px;
  width: fit-content;
  height: 1.0rem;
  border-radius: 2px;
  background-color: #F0F0F0;
  line-height: 14px;
  font-family: "맑은 고딕", sans-serif, monospace;
  font-weight: normal;
  font-size: 13px;
  color: black;

  > span {
    background-color: inherit;
  }
}

pre {
  display: block;
  margin: 20px;
  padding: 10px;
  border-radius: 2px;
  background-color: #F0F0F0;
  line-height: 20px;
  font-family: "맑은 고딕", sans-serif, monospace;
  font-weight: normal;
  font-size: 13px;
  color: black;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

  > code {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }
}

// Gist via GitHub Pages
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 0.8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
