/**
 * Resource : Image, Audio, Video, ...
 */

// Image
img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

// Client-side image-map
map {

}

// Area inside an image-map
area {

}

// Used to draw graphics, on the fly, via scripting (usually JavaScript)
canvas {

}

// Caption for a <figure> element
figcaption {

}

// Specifies self-contained content
figure {

}

// Container for multiple image resources
picture {
    
}

// Container for SVG graphics
svg {

}

// Media
// Sound content
audio {
    
}

// Multiple media resources for media elements (<video>, <audio> and <picture>)
source {

}

// Text tracks for media elements (<video> and <audio>)
track {

}

// Video, Movie
video {

}