/**
 * Plain text
 */

// Global
* {
    font-family: "맑은 고딕", sans-serif, monospace;
    font-size: 16px;
    color: black;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    // line-height: 1.25em;
    line-height: 100%;
    font-weight: bold;
    color: black;
    text-rendering: optimizeLegibility;
}
h1 { font-size: 2.0rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.0rem; }

// Bold text
b {

}

// Important text
strong {
    color: #303030;
}

// Italic text; Tilted text
i {

}

// Emphasized text 
em {

}

// Marked or Highlighted text text
mark {

}

// Small text
small {

}

// Deleted text
del {

}

// Inserted text
ins {

}

// Subscripted text
sub {

}

// Superscripted text
sup {

}

/*
 * Quotation, Citation Text
 */

// Abbreviation or an acronym
abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}

// Contact information
address {

}

// Text direction
bdo {

}

// Section that is quoted from another source
blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;

    @media (min-width: 30em) {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

blockquote p:last-child {
margin-bottom: 0;
}

// Short inline quotation
q {

}

// Title of a work
cite {

}

/**
 * List
 */

// ul : Unordered list
ul {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;

    list-style-type: disc;

    // Item in a Unordered list
    > li {
        // indent + 1
        > ul {
            list-style-type: circle;
            > li {
                // indent + 2
                > ul {
                    list-style-type: none;
                }
            }
        }
    }
}

// ol : Ordered list
ol {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;

    list-style-type: decimal;

    // Item in a Ordered list
    > li {
        // indent + 1
        > ol {
            list-style-type: lower-alpha;
        }
    }
}

// dl : Description list
dl {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;

    // Term or Name in a Description list
    > dt {

    }

    // Description of a Term or Name in a Description list
    > dd {
        margin-bottom: 0.5rem;
        font-size: 0.7em;   
    }
}

/**
 * Link
 */
 
// Hyperlink
a {
    font-size: inherit;
    color: #0096ff;
    text-decoration: none;
    
    //&:link
    
    &:hover, &:active {
      text-decoration: underline;
    }
  
    &:visited {
      color: #224e6e;
    }
  
    strong {
      color: inherit;
    }
}

/**
 * Style
 */

// Additional details that the user can view or hide
details {
    > summary {
        margin-top: 1em;
        padding-left: 2rem;
        cursor: pointer;
    }    
    >p {
        border-radius: 0 0 10px 10px;
        background-color: #DDDDDD;
        padding: 2px 6px;
        margin: 0;
        box-shadow: 3px 3px 4px black;
    }
}

// Dialog box or Window
dialog {

}

/**
 * Table
 */
table {
    margin: 1.0rem;
    width: fit-content;
    height: 2.0rem;
    border: none;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    border-width: 1px;

    // Head
    > thead {
        border: inherit;
        border-bottom-width: 2px;
        > tr  {
            border: inherit;
            > th {
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                border: inherit;
                text-align: center;
                font-weight: bold;
                color: black;
            }
        }
    }

    // Body
    > tbody {
        border: inherit;
        > tr {
            border: inherit;
            > td {
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                border: inherit;
                text-align: left;
                font-weight: normal;
            }

            // Odd Column
            &:nth-child(odd) td {
            }

            // Even Column
            &:nth-child(even) td {
            }
        }
    }

    // Caption
    > caption {
        width: fit-content;
        height: 1.5rem;
        text-align: center;
        font-weight: bold;
        color: black;
    }

    // Groups the footer content
    > tfoot {

    }

    // Specifies column properties for each column within a <colgroup> element
    > col {

    }

    // Specifies a group of one or more columns for formatting
    > colgroup {

    }
}














